Lecturer: Nguyen Thon Da Ph.D
Course: Big Data
Content: Working with Spark

Team 2:
1. Nguyen Ngoc Binh - K204141907
2. Huynh Chi Dung - K204140638
3. Ngo Hai Minh - K204140639
4. Nguyen Thi Thuy Trang - K204141934

# Reading Data from a File

In [237]:
!pip install pyspark

Requirement already satisfied: pyspark in /home/user/anaconda3/lib/python3.11/site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /home/user/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [238]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a SparkSession
spark = SparkSession.builder.appName("PySpark Basics").getOrCreate()

# Define file location and read options
file_location = "NVL Historical Data.csv"
file_type = "csv"
infer_schema = "False"
first_row_is_header = "True"

# Read the CSV file into a DataFrame
df = spark.read.format(file_type) \
    .option("inferSchema", infer_schema) \
    .option("header", first_row_is_header) \
    .load(file_location)

# Print the DataFrame schema, data types, and record count
df.printSchema()
print(df.dtypes)
print(df.count())

root
 |-- Date: string (nullable = true)
 |--   Price  : string (nullable = true)
 |--   Open  : string (nullable = true)
 |--   High  : string (nullable = true)
 |--   Low  : string (nullable = true)
 |--   Vol  : string (nullable = true)
 |-- Change: string (nullable = true)
 |-- direction: string (nullable = true)
 |-- mavg: string (nullable = true)

[('Date', 'string'), ('  Price  ', 'string'), ('  Open  ', 'string'), ('  High  ', 'string'), ('  Low  ', 'string'), ('  Vol  ', 'string'), ('Change', 'string'), ('direction', 'string'), ('mavg', 'string')]

1250

# Subset Columns and View a Glimpse of the Data

In [239]:
# Define the list of required columns
columns = ["Date", "Price", "Open", "High", "Low", "Vol", "Change", "direction", "mavg"]

# Rename columns to remove leading and trailing spaces
for column in df.columns:
    df = df.withColumnRenamed(column, column.strip())

# Select the specified columns
df = df.select(columns)

# Show the first 100 rows
df.show(100)

+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|      Date|Price| Open| High|  Low|  Vol|Change| direction|       mavg|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|2023-09-29|15550|15800|16150|15550|12.38| -0.01|Decreasing|      15600|
|2023-09-28|15750|15500|16050|15300|20.77|  0.02|Increasing|      15675|
|2023-09-27|15500|15250|15500|14500| 30.5|  0.02|Increasing|15616.66667|
|2023-09-26|15150|15800|16500|15150|33.77| -0.06|Decreasing|      15500|
|2023-09-25|16200|17200|17600|16200|28.12| -0.07|Decreasing|      15640|
|2023-09-22|17400|17700|17800|16950|36.48| -0.04|Decreasing|15933.33333|
|2023-09-21|18200|18750|19150|18000|30.13| -0.02|Decreasing|16257.14286|
|2023-09-20|18500|17200|18500|16600|40.16|  0.07|Increasing|    16537.5|
|2023-09-19|17300|18250|18450|17050|54.72| -0.05|Decreasing|      16750|
|2023-09-18|18150|18900|18900|18050|28.32| -0.04|Decreasing|      17050|
|2023-09-15|18900|19000|19250|18650|26.73|  0.01|Increasing|      17475|
|2023-09-14|18700|19600|19800|18600|76.98| -0.06|Decreasing|   17918.75|
|2023-09-13|19950|21000|21100|19500|77.13| -0.05|Decreasing|    18387.5|
|2023-09-12|20950|20150|20950|19650|57.21|  0.02|Increasing|   18831.25|
|2023-09-11|20500|22050|22200|20500|71.69| -0.07|Decreasing|   19118.75|
|2023-09-08|22000|21600|22250|21400|52.61|  0.02|Increasing|   19556.25|
|2023-09-07|21600|22000|22150|21500|44.46| -0.01|Decreasing|   20093.75|
|2023-09-06|21800|21300|21800|21000|46.22|  0.02|Increasing|      20550|
|2023-09-05|21400|20900|21700|20800|53.91|  0.05|Increasing|    20862.5|
|2023-08-31|20450|20100|20500|20000|36.64|  0.02|Increasing|   21081.25|
|2023-08-30|20050|20500|20600|19500|67.19| -0.01|Decreasing|   21093.75|
|2023-08-29|20350|20200|21050|20100|40.37|  0.02|Increasing|   21018.75|
|2023-08-28|20000|19600|20100|19350|33.67|  0.03|Increasing|   20956.25|
|2023-08-25|19400|19800|20000|19300|33.52| -0.02|Decreasing|   20631.25|
|2023-08-24|19800|18800|19950|18550| 40.9|  0.06|Increasing|   20406.25|
|2023-08-23|18700|18800|19250|18550| 29.6|  0.01|Increasing|   20018.75|
|2023-08-22|18500|18550|18900|17300|45.88|     0|Decreasing|   19656.25|
|2023-08-21|18500|18800|19100|18050|46.79| -0.04|Decreasing|    19412.5|
|2023-08-18|19250|20450|20500|19250|73.13| -0.07|Decreasing|    19312.5|
|2023-08-17|20650|20500|21150|20500|40.74|     0|Decreasing|      19350|
|2023-08-16|20650|20650|20900|20300|40.99|     0|Decreasing|   19431.25|
|2023-08-15|20750|21300|21400|20600|49.32| -0.02|Decreasing|      19600|
|2023-08-14|21250|21200|21700|21050|44.64|  0.02|Increasing|   19781.25|
|2023-08-11|20900|20850|20950|20050|39.74|  0.01|Increasing|   20056.25|
|2023-08-10|20600|19900|21100|19900| 61.8|  0.04|Increasing|   20318.75|
|2023-08-09|19900|20050|20300|19750|44.74| -0.02|Decreasing|   20493.75|
|2023-08-08|20350|20500|20700|20050|44.21|  0.01|Increasing|   20631.25|
|2023-08-07|20200|20300|20700|19800|44.45|  0.02|Increasing|      20575|
|2023-08-04|19800|19550|19800|19050|79.62|  0.07|Increasing|   20468.75|
|2023-08-03|18550|18350|18600|18050|42.86|  0.01|Increasing|   20193.75|
|2023-08-02|18350|17750|18500|17700|43.28|  0.03|Increasing|   19831.25|
|2023-08-01|17800|18850|18900|17800|53.14| -0.06|Decreasing|   19443.75|
|2023-07-31|18850|18150|18850|17700|56.59|  0.03|Increasing|      19225|
|2023-07-28|18350|17850|18900|17650|70.87|  0.03|Increasing|   19031.25|
|2023-07-27|17850|17300|18150|17200|71.12|  0.04|Increasing|   18718.75|
|2023-07-26|17200|16250|17200|16050|73.23|  0.06|Increasing|   18343.75|
|2023-07-25|16200|16500|16900|16050|42.47|     0|Decreasing|   17893.75|
|2023-07-24|16200|15400|16200|15400|95.94|  0.07|Increasing|      17600|
|2023-07-21|15150|14800|15200|14700|34.69|  0.02|Increasing|      17200|
|2023-07-20|14800|14700|14900|14600|16.99|  0.01|Increasing|      16825|
|2023-07-19|14700|15100|15200|14650|34.69| -0.02|Decreasing|   16306.25|
|2023-07-18|15050|15200|15250|14850|28.46| -0.02|Decreasing|   15893.75|
|2023-07-17|15350|15300|15500|15100|36.93|  0.01|Increasing|   15581.25|
|2023-07-14|15150|15050|15350|14900|43.04|  0.01|Increasing|      15325|
|2023-07-13|14950|14700|15150|14600|30.51|  0.02|Increasing|   15168.75|
|2023-07-12|14600|14800|14850|14450|21.67| -0.01|Decreasing|   14968.75|
|2023-07-11|14700|15000|15050|14650|17.74| -0.01|Decreasing|    14912.5|
|2023-07-10|14900|14600|15100|14500|27.53|  0.03|Increasing|      14925|
|2023-07-07|14500|14250|14550|14250|19.48|  0.01|Increasing|      14900|
|2023-07-06|14400|14700|14750|14200|23.89| -0.02|Decreasing|   14818.75|
|2023-07-05|14700|15000|15100|14700|24.05| -0.01|Decreasing|    14737.5|
|2023-07-04|14850|14550|14850|14350|23.18|  0.02|Increasing|      14700|
|2023-07-03|14550|15000|15050|14500|30.11| -0.02|Decreasing|      14650|
|2023-06-30|14850|15000|15250|14850|27.93| -0.01|Decreasing|   14681.25|
|2023-06-29|15000|15800|15800|15000|39.22| -0.04|Decreasing|   14718.75|
|2023-06-28|15600|15350|15850|15150|70.79|  0.04|Increasing|   14806.25|
|2023-06-27|15000|15000|15350|14850|31.02|  0.01|Increasing|   14868.75|
|2023-06-26|14900|14650|15200|14450|50.45|  0.03|Increasing|   14931.25|
|2023-06-23|14500|14800|14850|14300|31.11| -0.01|Decreasing|   14906.25|
|2023-06-22|14650|14550|15000|14500|29.99|  0.01|Increasing|   14881.25|
|2023-06-21|14500|14600|14600|14250|28.74|     0|Decreasing|      14875|
|2023-06-20|14500|14050|14550|14000|23.52|  0.04|Increasing|   14831.25|
|2023-06-19|14000|14900|15000|14000|67.22| -0.06|Decreasing|   14706.25|
|2023-06-16|14900|15450|15600|14800|51.56| -0.02|Decreasing|   14618.75|
|2023-06-15|15250|15200|15450|15050|32.79|     0|Increasing|      14650|
|2023-06-14|15200|15600|15850|15200| 38.8| -0.03|Decreasing|    14687.5|
|2023-06-13|15600|14700|15600|14450|77.65|  0.07|Increasing|      14825|
|2023-06-12|14600|14800|15000|14200|29.16|     0|Decreasing|   14818.75|
|2023-06-09|14600|14250|14700|14150|30.83|  0.03|Increasing|   14831.25|
|2023-06-08|14200|14800|15000|14200|35.67| -0.02|Decreasing|   14793.75|
|2023-06-07|14550|13800|14550|13650|53.09|  0.07|Increasing|    14862.5|
|2023-06-06|13600|13500|13650|13400|14.49|  0.01|Increasing|      14700|
|2023-06-05|13500|14000|14050|13450|25.31| -0.03|Decreasing|   14481.25|
|2023-06-02|13850|14100|14200|13750|24.19|     0|Decreasing|    14312.5|
|2023-06-01|13900|13550|13950|13500|30.65|  0.03|Increasing|      14100|
|2023-05-31|13500|13500|13800|13400|32.02|  0.01|Increasing|    13962.5|
|2023-05-30|13350|13200|13600|13150|28.17|  0.02|Increasing|   13806.25|
|2023-05-29|13050|13000|13250|12950|14.15|  0.01|Increasing|    13662.5|
|2023-05-26|12950|13200|13250|12750|20.14| -0.02|Decreasing|    13462.5|
|2023-05-25|13200|13250|13350|13150| NULL|     0|Decreasing|    13412.5|
|2023-05-24|13250|13350|13650|13250|18.89|     0|Increasing|   13381.25|
|2023-05-23|13200|13350|13450|13100|15.47| -0.01|Decreasing|      13300|
|2023-05-22|13350|13400|13550|13250| 12.2|  0.01|Increasing|   13231.25|
|2023-05-19|13200|13300|13350|13050|12.11| -0.01|Decreasing|   13193.75|
|2023-05-18|13300|13350|13450|13200| NULL|     0|Decreasing|    13187.5|
|2023-05-17|13300|13650|13700|13300|12.97| -0.03|Decreasing|   13218.75|
|2023-05-16|13650|13550|13700|13400|10.89|  0.01|Increasing|   13306.25|
|2023-05-15|13500|14000|14100|13500|17.13| -0.01|Decreasing|   13343.75|
|2023-05-12|13700|13900|13950|13700|18.55| -0.01|Decreasing|      13400|
|2023-05-11|13800|13450|13950|13450|20.59|  0.04|Increasing|      13475|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
only showing top 100 rows

In [240]:
from pyspark.sql.functions import round

df.select(df.columns[3], round(df.columns[2]), df.columns[6], 'direction').show(10, False)

+-----+--------------+------+----------+
|High |round(Open, 0)|Change|direction |
+-----+--------------+------+----------+
|16150|15800.0       |-0.01 |Decreasing|
|16050|15500.0       |0.02  |Increasing|
|15500|15250.0       |0.02  |Increasing|
|16500|15800.0       |-0.06 |Decreasing|
|17600|17200.0       |-0.07 |Decreasing|
|17800|17700.0       |-0.04 |Decreasing|
|19150|18750.0       |-0.02 |Decreasing|
|18500|17200.0       |0.07  |Increasing|
|18450|18250.0       |-0.05 |Decreasing|
|18900|18900.0       |-0.04 |Decreasing|
+-----+--------------+------+----------+
only showing top 10 rows

# Missing Values

In [241]:
from pyspark.sql.functions import *
#Calculate the missing values in a single column or in multiple columns by using
#the built-in functions in PySpark, as follows
missing_count = df.filter((df['Vol'] == '') | df['Vol'].isNull() | isnan(df['Vol'])).count()
print("Number of missing values in 'Vol' column:", missing_count)

Number of missing values in 'Vol' column: 734

In [242]:
#Calculate all the missing values in the DataFrame,
missing_counts = df.select([count(when((col(c) == '') | col(c).isNull() | isnan(col(c)), c)).alias(c) for c in df.columns])
missing_counts.show()

+----+-----+----+----+---+---+------+---------+----+
|Date|Price|Open|High|Low|Vol|Change|direction|mavg|
+----+-----+----+----+---+---+------+---------+----+
|   0|    0|   0|   0|  0|734|     0|        0|   0|
+----+-----+----+----+---+---+------+---------+----+

# One-Way Frequencies

In [243]:
df.groupBy(df['direction']).count().show()

+----------+-----+
| direction|count|
+----------+-----+
|Increasing|  575|
|Decreasing|  675|
+----------+-----+

# Sorting and Filtering One-Way Frequencies

In [244]:
# Subsetting and creating a temporary DataFrame to eliminate any missing values
df_temp=df.filter((df['mavg']!='')&(df['mavg'].isNotNull()) &
(~isnan(df['mavg'])))
df_temp.show()

+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|      Date|Price| Open| High|  Low|  Vol|Change| direction|       mavg|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|2023-09-29|15550|15800|16150|15550|12.38| -0.01|Decreasing|      15600|
|2023-09-28|15750|15500|16050|15300|20.77|  0.02|Increasing|      15675|
|2023-09-27|15500|15250|15500|14500| 30.5|  0.02|Increasing|15616.66667|
|2023-09-26|15150|15800|16500|15150|33.77| -0.06|Decreasing|      15500|
|2023-09-25|16200|17200|17600|16200|28.12| -0.07|Decreasing|      15640|
|2023-09-22|17400|17700|17800|16950|36.48| -0.04|Decreasing|15933.33333|
|2023-09-21|18200|18750|19150|18000|30.13| -0.02|Decreasing|16257.14286|
|2023-09-20|18500|17200|18500|16600|40.16|  0.07|Increasing|    16537.5|
|2023-09-19|17300|18250|18450|17050|54.72| -0.05|Decreasing|      16750|
|2023-09-18|18150|18900|18900|18050|28.32| -0.04|Decreasing|      17050|
|2023-09-15|18900|19000|19250|18650|26.73|  0.01|Increasing|      17475|
|2023-09-14|18700|19600|19800|18600|76.98| -0.06|Decreasing|   17918.75|
|2023-09-13|19950|21000|21100|19500|77.13| -0.05|Decreasing|    18387.5|
|2023-09-12|20950|20150|20950|19650|57.21|  0.02|Increasing|   18831.25|
|2023-09-11|20500|22050|22200|20500|71.69| -0.07|Decreasing|   19118.75|
|2023-09-08|22000|21600|22250|21400|52.61|  0.02|Increasing|   19556.25|
|2023-09-07|21600|22000|22150|21500|44.46| -0.01|Decreasing|   20093.75|
|2023-09-06|21800|21300|21800|21000|46.22|  0.02|Increasing|      20550|
|2023-09-05|21400|20900|21700|20800|53.91|  0.05|Increasing|    20862.5|
|2023-08-31|20450|20100|20500|20000|36.64|  0.02|Increasing|   21081.25|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
only showing top 20 rows

In [245]:
# Subsetting the DataFrame to Open that are repeated more than 20 times
columns=["Date","Open","Price","Vol","mavg","direction"]
df_temp = df.select(columns)
df_temp=df_temp.withColumn("Rounded_Open", round(col("Open"), 0))
df_temp.show()
df_temp.groupby(df_temp['Rounded_Open'])\
.count().filter("`count` >20")\
.sort(col("count").desc()).show(10,False)

+----------+-----+-----+-----+-----------+----------+------------+
|      Date| Open|Price|  Vol|       mavg| direction|Rounded_Open|
+----------+-----+-----+-----+-----------+----------+------------+
|2023-09-29|15800|15550|12.38|      15600|Decreasing|     15800.0|
|2023-09-28|15500|15750|20.77|      15675|Increasing|     15500.0|
|2023-09-27|15250|15500| 30.5|15616.66667|Increasing|     15250.0|
|2023-09-26|15800|15150|33.77|      15500|Decreasing|     15800.0|
|2023-09-25|17200|16200|28.12|      15640|Decreasing|     17200.0|
|2023-09-22|17700|17400|36.48|15933.33333|Decreasing|     17700.0|
|2023-09-21|18750|18200|30.13|16257.14286|Decreasing|     18750.0|
|2023-09-20|17200|18500|40.16|    16537.5|Increasing|     17200.0|
|2023-09-19|18250|17300|54.72|      16750|Decreasing|     18250.0|
|2023-09-18|18900|18150|28.32|      17050|Decreasing|     18900.0|
|2023-09-15|19000|18900|26.73|      17475|Increasing|     19000.0|
|2023-09-14|19600|18700|76.98|   17918.75|Decreasing|     19600.0|
|2023-09-13|21000|19950|77.13|    18387.5|Decreasing|     21000.0|
|2023-09-12|20150|20950|57.21|   18831.25|Increasing|     20150.0|
|2023-09-11|22050|20500|71.69|   19118.75|Decreasing|     22050.0|
|2023-09-08|21600|22000|52.61|   19556.25|Increasing|     21600.0|
|2023-09-07|22000|21600|44.46|   20093.75|Decreasing|     22000.0|
|2023-09-06|21300|21800|46.22|      20550|Increasing|     21300.0|
|2023-09-05|20900|21400|53.91|    20862.5|Increasing|     20900.0|
|2023-08-31|20100|20450|36.64|   21081.25|Increasing|     20100.0|
+----------+-----+-----+-----+-----------+----------+------------+
only showing top 20 rows

+------------+-----+
|Rounded_Open|count|
+------------+-----+
+------------+-----+

# Casting Variables

In [246]:
#Casting
df = df.withColumn('Vol',df['Vol'].cast("float"))
#After Casting
df.dtypes
df.show()

+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|      Date|Price| Open| High|  Low|  Vol|Change| direction|       mavg|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
|2023-09-29|15550|15800|16150|15550|12.38| -0.01|Decreasing|      15600|
|2023-09-28|15750|15500|16050|15300|20.77|  0.02|Increasing|      15675|
|2023-09-27|15500|15250|15500|14500| 30.5|  0.02|Increasing|15616.66667|
|2023-09-26|15150|15800|16500|15150|33.77| -0.06|Decreasing|      15500|
|2023-09-25|16200|17200|17600|16200|28.12| -0.07|Decreasing|      15640|
|2023-09-22|17400|17700|17800|16950|36.48| -0.04|Decreasing|15933.33333|
|2023-09-21|18200|18750|19150|18000|30.13| -0.02|Decreasing|16257.14286|
|2023-09-20|18500|17200|18500|16600|40.16|  0.07|Increasing|    16537.5|
|2023-09-19|17300|18250|18450|17050|54.72| -0.05|Decreasing|      16750|
|2023-09-18|18150|18900|18900|18050|28.32| -0.04|Decreasing|      17050|
|2023-09-15|18900|19000|19250|18650|26.73|  0.01|Increasing|      17475|
|2023-09-14|18700|19600|19800|18600|76.98| -0.06|Decreasing|   17918.75|
|2023-09-13|19950|21000|21100|19500|77.13| -0.05|Decreasing|    18387.5|
|2023-09-12|20950|20150|20950|19650|57.21|  0.02|Increasing|   18831.25|
|2023-09-11|20500|22050|22200|20500|71.69| -0.07|Decreasing|   19118.75|
|2023-09-08|22000|21600|22250|21400|52.61|  0.02|Increasing|   19556.25|
|2023-09-07|21600|22000|22150|21500|44.46| -0.01|Decreasing|   20093.75|
|2023-09-06|21800|21300|21800|21000|46.22|  0.02|Increasing|      20550|
|2023-09-05|21400|20900|21700|20800|53.91|  0.05|Increasing|    20862.5|
|2023-08-31|20450|20100|20500|20000|36.64|  0.02|Increasing|   21081.25|
+----------+-----+-----+-----+-----+-----+------+----------+-----------+
only showing top 20 rows

In [247]:
#Importing necessary libraries
from pyspark.sql.types import *
#Identifying and assigning lists of variables
float_vars=['Open', 'Price', 'Vol','mavg']
date_vars=['Date']
#Converting variables
for column in float_vars:
 df=df.withColumn(column,df[column].cast(FloatType()))
for column in date_vars:
 df=df.withColumn(column,df[column].cast(DateType()))

df.dtypes

[('Date', 'date'),
 ('Price', 'float'),
 ('Open', 'float'),
 ('High', 'string'),
 ('Low', 'string'),
 ('Vol', 'float'),
 ('Change', 'string'),
 ('direction', 'string'),
 ('mavg', 'float')]

In [248]:
df.show(10,False)

+----------+-------+-------+-----+-----+-----+------+----------+---------+
|Date      |Price  |Open   |High |Low  |Vol  |Change|direction |mavg     |
+----------+-------+-------+-----+-----+-----+------+----------+---------+
|2023-09-29|15550.0|15800.0|16150|15550|12.38|-0.01 |Decreasing|15600.0  |
|2023-09-28|15750.0|15500.0|16050|15300|20.77|0.02  |Increasing|15675.0  |
|2023-09-27|15500.0|15250.0|15500|14500|30.5 |0.02  |Increasing|15616.667|
|2023-09-26|15150.0|15800.0|16500|15150|33.77|-0.06 |Decreasing|15500.0  |
|2023-09-25|16200.0|17200.0|17600|16200|28.12|-0.07 |Decreasing|15640.0  |
|2023-09-22|17400.0|17700.0|17800|16950|36.48|-0.04 |Decreasing|15933.333|
|2023-09-21|18200.0|18750.0|19150|18000|30.13|-0.02 |Decreasing|16257.143|
|2023-09-20|18500.0|17200.0|18500|16600|40.16|0.07  |Increasing|16537.5  |
|2023-09-19|17300.0|18250.0|18450|17050|54.72|-0.05 |Decreasing|16750.0  |
|2023-09-18|18150.0|18900.0|18900|18050|28.32|-0.04 |Decreasing|17050.0  |
+----------+-------+-------+-----+-----+-----+------+----------+---------+
only showing top 10 rows

# Descriptive Statistics

In [249]:
columns=["Open","Price","Vol"]
# Subsetting the required columns from the DataFrame
df = df.select(columns)
df.describe().show()

+-------+------------------+------------------+------------------+
|summary|              Open|             Price|               Vol|
+-------+------------------+------------------+------------------+
|  count|              1250|              1250|               516|
|   mean|        45396.5776|        45415.5504|408.38207434314165|
| stddev|24421.615683645086|24423.318754605192| 341.4620800104249|
|    min|           10250.0|           10250.0|              10.0|
|    max|           93969.0|           92366.0|             997.2|
+-------+------------------+------------------+------------------+

In [250]:
#Since unknown values in Open are marked to be 0, let’s filter out those
#values before calculating the median
df_temp = df.filter((df['Open']!=0)&(df['Open'].isNotNull()) &
(~isnan(df['Open'])))
#Here the second parameter indicates the median value, which is 0.5; you
#can also try adjusting the value to calculate other percentiles
median=df.approxQuantile('Open',[0.5],0.1)
#Printing the Value
print ('The median of Open is '+str(median))

The median of Open is [33490.0]

# Unique/Distinct Values and Counts

In [268]:
#You may sometimes just want to know the number of levels (cardinality) within
#a variable. You can do this using the countDistinct function available in Spark
# Counts the distinct occurances of titles
full_df.agg(countDistinct(col("Direction")).alias("Count")).show()

+-----+
|Count|
+-----+
|    2|
+-----+

In [269]:
# Counts the distinct occurances of Date
full_df.select('Date').distinct().show(10,False)

+----------+
|Date      |
+----------+
|2023-05-18|
|2022-10-05|
|2021-11-03|
|2020-04-13|
|2020-02-26|
|2019-08-23|
|2019-08-22|
|2019-08-08|
|2023-04-28|
|2023-04-21|
+----------+
only showing top 10 rows

# Filtering

In [270]:
# Now, let’s find out the dates that do not end with an "17"
df_temp.filter(~col('Date').like('%17')).show(3, False)

+-------+-------+-----+-------------+
|Open   |Price  |Vol  |newcat       |
+-------+-------+-----+-------------+
|15800.0|15550.0|12.38|{Small, High}|
|15500.0|15750.0|20.77|{Small, High}|
|15250.0|15500.0|30.5 |{Small, High}|
+-------+-------+-----+-------------+
only showing top 3 rows

In [271]:
#So, let’s first calculate the max by using the following command. The agg function
#used here is handy instead of using describe when you are looking for a specific statistic:
max_pop=df.agg({'Price': 'max'}).collect()[0]['max(Price)']
print(max_pop)
count_obs= df.count()
print(count_obs)
mean_pop=df.agg({'Price': 'mean'}).collect()[0]['avg(Price)']
print(mean_pop)

92366.0

1250
45415.5504

In [272]:
#The lit function is a way
#to interact with column literals. It is very useful when you want 
#to create a column with a value directly.
df=df.withColumn('mean_Price',lit(mean_pop))
df=df.withColumn('varaiance',pow((df['Price']-df['mean_Price']),2))
variance_sum=df.agg({'varaiance': 'sum'}).collect()[0]['sum(varaiance)']
print(variance_sum)
variance_population= variance_sum/(count_obs-1)
print(variance_population)

745026625237.3237
596498498.9890503

# Creating new column

In [273]:
def new_cols(Vol,Open):
 if Vol<408: Volume_cat='Small'
 elif Vol<508: Volume_cat='Medium'
 else: Volume_cat='Big'
 if Open<3: Open_cat='Low'
 elif Open<5: Open_cat='Mid'
 else: Open_cat='High'
 return Volume_cat,Open_cat
# Apply the user-defined function on the DataFrame
udfB=udf(new_cols,StructType([StructField("Volume_cat", StringType(),
True),StructField("Open_cat", StringType(), True)]))
# Pass a user-defined function with two input columns Open and Close
df_temp=df.select('Open','Price','Vol').withColumn("newcat",udfB("Vol","Open"))
df_temp.show(10)

+-------+-------+-----+-------------+
|   Open|  Price|  Vol|       newcat|
+-------+-------+-----+-------------+
|15800.0|15550.0|12.38|{Small, High}|
|15500.0|15750.0|20.77|{Small, High}|
|15250.0|15500.0| 30.5|{Small, High}|
|15800.0|15150.0|33.77|{Small, High}|
|17200.0|16200.0|28.12|{Small, High}|
|17700.0|17400.0|36.48|{Small, High}|
|18750.0|18200.0|30.13|{Small, High}|
|17200.0|18500.0|40.16|{Small, High}|
|18250.0|17300.0|54.72|{Small, High}|
|18900.0|18150.0|28.32|{Small, High}|
+-------+-------+-----+-------------+
only showing top 10 rows

In [274]:
# Unbundle the struct type columns into individual columns and drop the struct type
df_with_newcols = df_temp.select('Open','Price','Vol','newcat')\
.withColumn('Volume_cat', df_temp.newcat\
.getItem('Volume_cat'))\
.withColumn('Open_cat', df_temp.newcat\
.getItem('Open_cat')).drop('newcat')
df_with_newcols.show(10,False)

+-------+-------+-----+----------+--------+
|Open   |Price  |Vol  |Volume_cat|Open_cat|
+-------+-------+-----+----------+--------+
|15800.0|15550.0|12.38|Small     |High    |
|15500.0|15750.0|20.77|Small     |High    |
|15250.0|15500.0|30.5 |Small     |High    |
|15800.0|15150.0|33.77|Small     |High    |
|17200.0|16200.0|28.12|Small     |High    |
|17700.0|17400.0|36.48|Small     |High    |
|18750.0|18200.0|30.13|Small     |High    |
|17200.0|18500.0|40.16|Small     |High    |
|18250.0|17300.0|54.72|Small     |High    |
|18900.0|18150.0|28.32|Small     |High    |
+-------+-------+-----+----------+--------+
only showing top 10 rows

[Stage 414:>                                                        (0 + 1) / 1]

Another way we can achieve the same result is through the when function. One
advantage of using this function is you don’t have to define the output data type. This
is handy for quick and dirty operations. Let’s recreate the preceding columns using the
when function.

In [275]:
# def new_cols(Volume,Open):
#  if Volume<48948400: Volume_cat='Small'
#  elif Volume<58948400: Volume_cat='Medium'
#  else: Volume_cat='Big'
#  if Open<3: Open_cat='Low'
#  elif Open<5: Open_cat='Mid'
#  else: Open_cat='High'
#  return Volume_cat,Open_cat
# In order to comment on multiple lines at once in Jupyter Notebook, 
# you have to select the required lines and then press the Ctrl + /
df_with_newcols = df_temp.select('Open','Price','Vol').\
withColumn('Volume_cat', when(df_temp['Vol']<408,'Small').\
when(df_temp['Vol']<508,'Medium').otherwise('Big')).\
withColumn('Open_cat', when(df_temp['Open']<45000,'Low').
when(df_temp['Open']<50000,'Mid').otherwise('High'))
df_with_newcols.show(10)

+-------+-------+-----+----------+--------+
|   Open|  Price|  Vol|Volume_cat|Open_cat|
+-------+-------+-----+----------+--------+
|15800.0|15550.0|12.38|     Small|     Low|
|15500.0|15750.0|20.77|     Small|     Low|
|15250.0|15500.0| 30.5|     Small|     Low|
|15800.0|15150.0|33.77|     Small|     Low|
|17200.0|16200.0|28.12|     Small|     Low|
|17700.0|17400.0|36.48|     Small|     Low|
|18750.0|18200.0|30.13|     Small|     Low|
|17200.0|18500.0|40.16|     Small|     Low|
|18250.0|17300.0|54.72|     Small|     Low|
|18900.0|18150.0|28.32|     Small|     Low|
+-------+-------+-----+----------+--------+
only showing top 10 rows

# Deleting and Renaming Columns

In [276]:
# Using the drop function. to drop any column or columns 
columns_to_drop=['Price']
df_with_newcols=df_with_newcols.drop(*columns_to_drop)
df_with_newcols.show(10)

+-------+-----+----------+--------+
|   Open|  Vol|Volume_cat|Open_cat|
+-------+-----+----------+--------+
|15800.0|12.38|     Small|     Low|
|15500.0|20.77|     Small|     Low|
|15250.0| 30.5|     Small|     Low|
|15800.0|33.77|     Small|     Low|
|17200.0|28.12|     Small|     Low|
|17700.0|36.48|     Small|     Low|
|18750.0|30.13|     Small|     Low|
|17200.0|40.16|     Small|     Low|
|18250.0|54.72|     Small|     Low|
|18900.0|28.32|     Small|     Low|
+-------+-----+----------+--------+
only showing top 10 rows

In [277]:
# Renaming can be done using 
# either the withColumnRenamed function or the alias function.
df_with_newcols = df_with_newcols\
.withColumnRenamed('Open','Renamed_Open')\
.withColumnRenamed('Vol','Renamed_Volume')
df_with_newcols.show(10)

+------------+--------------+----------+--------+
|Renamed_Open|Renamed_Volume|Volume_cat|Open_cat|
+------------+--------------+----------+--------+
|     15800.0|         12.38|     Small|     Low|
|     15500.0|         20.77|     Small|     Low|
|     15250.0|          30.5|     Small|     Low|
|     15800.0|         33.77|     Small|     Low|
|     17200.0|         28.12|     Small|     Low|
|     17700.0|         36.48|     Small|     Low|
|     18750.0|         30.13|     Small|     Low|
|     17200.0|         40.16|     Small|     Low|
|     18250.0|         54.72|     Small|     Low|
|     18900.0|         28.32|     Small|     Low|
+------------+--------------+----------+--------+
only showing top 10 rows

In [278]:
# To change multiple column names,try the following command:
# Define all the variable changes in the list
new_names = [('Volume_cat','Volume_cat1'),('Open_cat','Open_cat1')]
# Applying the alias function
df_with_newcols_renamed = df_with_newcols\
.select(list(map(lambda old,new:col(old).alias(new),*zip(*new_names))))
df_with_newcols_renamed.show(10)

+-----------+---------+
|Volume_cat1|Open_cat1|
+-----------+---------+
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
|      Small|      Low|
+-----------+---------+
only showing top 10 rows

# 5.2 Utility Functions and Visualizations

In [279]:
# To concatenate the values of budget_cat and ratings together into a
# single column, we can do so using the concat function. On top of this, let’s change the
# case of the new column to lowercase and trim away any white spaces using the lower
# and trim functions
# Concatenating two variables
df_with_newcols=df_with_newcols.\
withColumn('Open_Volume_Cat',concat(df_with_newcols.\
Volume_cat,df_with_newcols.Open_cat))
df_with_newcols.show(10)

+------------+--------------+----------+--------+---------------+
|Renamed_Open|Renamed_Volume|Volume_cat|Open_cat|Open_Volume_Cat|
+------------+--------------+----------+--------+---------------+
|     15800.0|         12.38|     Small|     Low|       SmallLow|
|     15500.0|         20.77|     Small|     Low|       SmallLow|
|     15250.0|          30.5|     Small|     Low|       SmallLow|
|     15800.0|         33.77|     Small|     Low|       SmallLow|
|     17200.0|         28.12|     Small|     Low|       SmallLow|
|     17700.0|         36.48|     Small|     Low|       SmallLow|
|     18750.0|         30.13|     Small|     Low|       SmallLow|
|     17200.0|         40.16|     Small|     Low|       SmallLow|
|     18250.0|         54.72|     Small|     Low|       SmallLow|
|     18900.0|         28.32|     Small|     Low|       SmallLow|
+------------+--------------+----------+--------+---------------+
only showing top 10 rows

# Registering DataFrames

In [280]:
# Registering temporary table
df_with_newcols.registerTempTable('temp_data')
# Applying the function to show the results
spark.sql('select Volume_cat, count(Volume_cat)\
from temp_data group by Volume_cat').show(10)

+----------+-----------------+
|Volume_cat|count(Volume_cat)|
+----------+-----------------+
|    Medium|               40|
|     Small|              239|
|       Big|              971|
+----------+-----------------+

# Window Functions

In [281]:
# Importing the window functions
from pyspark.sql.window import *
# Step 1: Filtering the missing values
df_with_newcols=df_with_newcols.filter( (df_with_newcols['Renamed_Open'].
isNotNull()) & (~isnan(df_with_newcols['Renamed_Open'])) )

In [282]:
# Step 2: Applying the window functions for calculating deciles
df_with_newcols = df_with_newcols.select("Renamed_Open","Renamed_Volume","Volume_cat",
ntile(10).over(Window.partitionBy().orderBy(df_with_newcols['Renamed_Volume'].
desc())).alias("decile_rank"))
df_with_newcols.show(10)

23/10/02 17:25:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:40 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+------------+--------------+----------+-----------+
|Renamed_Open|Renamed_Volume|Volume_cat|decile_rank|
+------------+--------------+----------+-----------+
|     32544.0|         997.2|       Big|          1|
|     31709.0|         997.2|       Big|          1|
|     32822.0|         994.6|       Big|          1|
|     33656.0|         985.1|       Big|          1|
|     33100.0|         982.8|       Big|          1|
|     38552.0|         977.7|       Big|          1|
|     32544.0|         974.4|       Big|          1|
|     36994.0|         974.2|       Big|          1|
|     32544.0|         968.3|       Big|          1|
|     74000.0|         967.4|       Big|          1|
+------------+--------------+----------+-----------+
only showing top 10 rows

In [283]:
# Step 3:Dispalying the values
df_with_newcols.groupby("decile_rank")\
.agg(min('Renamed_Volume').alias('min_Volume'),max('Renamed_Volume')\
.alias('max_Volume'),count('Renamed_Volume')).show()

23/10/02 17:25:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
23/10/02 17:25:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-----------+----------+----------+---------------------+
|decile_rank|min_Volume|max_Volume|count(Renamed_Volume)|
+-----------+----------+----------+---------------------+
|          1|     742.0|     997.2|                  125|
|          2|     482.5|     741.3|                  125|
|          3|     34.69|     479.6|                  125|
|          4|     11.46|     34.31|                  125|
|          5|      10.0|     11.37|                   16|
|          6|      NULL|      NULL|                    0|
|          7|      NULL|      NULL|                    0|
|          8|      NULL|      NULL|                    0|
|          9|      NULL|      NULL|                    0|
|         10|      NULL|      NULL|                    0|
+-----------+----------+----------+---------------------+

# Other Useful Functions

In [ ]:
full_df.show(200)
columns=["Date","Open","Close","Volume","direction"]
df_temp=full_df.select(columns)
df_temp=df_temp.withColumn('Year',year('Date'))
df_temp.show(5)

# Sampling

The first
parameter True/False indicates whether you would like to do a sample with or without
replacement. Here, we would like to do it without replacement, so we selected False.
The second parameter is the fraction. It indicates the proportion of the population you
would like to have in the sample. The third parameter is the seed, which guarantees you
the same result when you run this snippet every single time.

In [285]:
# Simple random sampling in PySpark with replacement
df_sample = df.sample(False, 0.4, 11)
df_sample.count()

491

# Pandas Support

In [286]:
# Pandas to PySpark
df_pandas=df.toPandas()
# Pandas to PySpark
df_py = spark.createDataFrame(df_pandas)
df_py.show(5)

+-------+-------+------------------+----------+-------------------+
|   Open|  Price|               Vol|mean_Price|          varaiance|
+-------+-------+------------------+----------+-------------------+
|15800.0|15550.0|12.380000114440918|45415.5504|8.919511006949402E8|
|15500.0|15750.0|20.770000457763672|45415.5504|8.800448805349401E8|
|15250.0|15500.0|              30.5|45415.5504|8.949401557349402E8|
|15800.0|15150.0| 33.77000045776367|45415.5504|9.160035410149401E8|
|17200.0|16200.0|  28.1200008392334|45415.5504|8.535483851749401E8|
+-------+-------+------------------+----------+-------------------+
only showing top 5 rows